.navbar{
    height: 60px;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 5px;
    font-family: sans-serif;
}

.main-section-title{
    height: 60px;
    background: black;
    color:cadetblue;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 5px;
    font-family: sans-serif;

}
.main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px;
}

.main-section-btn{
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: sans-serif;
    background: #0059b3;
    color: white;
    border-color: white;
    border-style: none;
    border-radius: 20px;
    cursor:pointer;
}