.post-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    background: #80808073;
    padding: 30px;
    border-radius: 5px;
    font-family: unset;
}
.post-header{
    background: cadetblue;
    padding: 10px;
    margin:0px 5px;
    font-family: fantasy;
    font-size: x-large;
}
.post-ul{
    height: 400px;
    margin: 20px;
    overflow-y: scroll;
}
.post-li{
    list-style: none;
}